.container
    img.logo-blog(src='/uploads/minhblog.png', height='100px')
    nav
        ul
            li
                a(href='/') Home
            li
                a(href='/blog/add') Add Post
            li
                a(href='/blog/addCategory') Add Category