footer
  .container.text-center
    p.pull-left © 2016 MinhSoftware, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
          a(href='https://www.facebook.com/gangstar.a2') My Facebook
      li
          a(href='https://minhblog.herokuapp.com') Home
