extends ../layout

block content
    link(rel='stylesheet', href='/css/style.css')
    include ../partials/blogheader
    h1=title
    ul.errors
        if errors
            each error, i in errors
                li.alert.alert-danger #{error.msg}
    form(method='post', action='/blog/add', enctype="multipart/form-data")
        .form-group
            label Title:
            input.form-control(name='title', type='text')
        .form-group
            label Category
            select.form-control(name='category')
                each category, i in categories
                    option(value='' + category.title) #{category.title}
        .form-group
            label Body
            textarea.form-control(name='body', id='body')
        .form-group
            label Tags
            input.form-control(name='tags', id='tags')
        .form-group
            label Main Image:
            input.form-control(name='image', type='file')
        .form-group
            label Author
            input(name='author' value='' + user.profile.name)
        input.btn.btn-default(name='submit', type='submit', value='Save')
        script(src='/ckeditor/ckeditor.js')
        script
            | CKEDITOR.replace('body');