extends ../layout

block content
    link(rel='stylesheet', href='/css/style.css')
    include ../partials/blogheader
    if posts
        each post, i in posts
            .post
                h1
                    a(href='/blogs/show/' + post._id)
                        =post.title
                p.meta Posted in #{' '}
                    a(href='/blog/categories/show/' + post.category) #{post.category} by #{post.author} on #{moment(post.date).format("DD-MM-YYYY")}
                img.mainimage(src='/uploads/' + post.image)
                br
                =truncateText(post.body, 400)
                a.more(href='/blog/show/' + post._id) Read Mode
    else
        p.noposts There are no posts to display